<template name="About_Alloy">

  <div class="ui stackable two column grid container">

    <div class="column">
      <h1 class="ui dividing header">
        <center>
          <img class="alloy-icon" src="/images/alloy-icon.png">
          About Alloy
        </center>
      </h1>
      <p id="about-alloy">
        <!--
        TODO: change this 'about' to more closely focus on the needs of iLab and sPACE
        -->
        Alloy is a UH student-built tool to help members of the
        UH iLab and sPACE communities find projects and
        find people for projects of their own. Have an idea for a
        project that would look good on your resume? Want to do
        your
        own custom senior project? Or do you just want experiment
        and
        learn something new with other students who just want to
        do
        the same?
        <br>
        <br>
        Let Alloy help you find the teams that's right for
        what you want
      </p>
    </div>

    <div class="column">
      <h1 class="ui dividing header">
        <center>
          <img class="alloy-icon" src="/images/alloy-icon.png">
          Key Features
          </center>
      </h1>
      <ul class="ui list" id="alloy-features">
        <li>Create profiles that list your skills, interests, and
          availability
        </li>
        <li>Create projects that other people can browse and join
        </li>
        <li>Search for people based on skills</li>
        <li>Follow people you want to work with to track their
          projects
        </li>
        <li>Set up alerts for projects that might interest you
        </li>
      </ul>
    </div>

  </div>

</template>