<template name="Cas_Login">
  <!-- Note: The popup will be close immediately if you are already logged with your CAS server. -->
      <!-- if logged in, present option to log out, vice versa -->
      {{#if currentUser}}
      <a class="{{#unless currentUser}}right{{/unless}} item cas-logout" id="cas-logout" href="{{pathFor 'Home_Page'}}">
        <i class="sign out icon"></i>
        Logout
      </a>
      {{else}}
      <a class="{{#unless currentUser}}right{{/unless}} item cas-login" id="cas-login" href="{{pathFor 'Home_Page'}}">
        <i class="sign in icon"></i>
        Login
      </a>
      {{/if}}
</template>
