<template name="Header">
  <!-- TODO: DELETE? -->
  <!-- img class="ui fluid image" src="http://images.fineartamerica.com/images-medium-large-5/koolau-range-panorama-dan-mcmanus.jpg"
       style="max-height: 150px" -->

  <!-- side menu / TOC -->
  <div class="ui top inverted tabular stackable menu" id="top-menu">
    <div class="ui container">

      <a class="item" href="{{pathFor 'Home_Page'}}">
        <img class="ui centered fluid tiny image" src="/images/alloy-bare-wordmark.png">
        {{#if numberRequests}}
          <div class="ui label">{{ numberRequests }}</div>
        {{/if}}
      </a>

      {{#if currentUser}}

      {{#if isSiteAdmin}}
        <a class="{{ isActiveRoute 'Site_Admin_Page'}} item" href="{{ pathFor 'Site_Admin_Page' }}">
          <i class="spy icon"></i>Admin
        </a>
      {{/if}}

      {{#unless isRestricted}}
        <a class="{{ isActiveRoute 'Invite_Page'}} item" href="{{ pathFor 'Invite_Page' }}">
          Invite
        </a>
      {{/unless}}

      <a class="{{ isActiveRoute 'User_Profile_Page'}} right item" href="{{ pathFor 'User_Profile_Page_2' _id=(getMyId) }}">
        <i class="user icon"></i>My Profile
      </a>

      {{#unless isRestricted}}
        <a class="{{ isActiveRoute 'Project_Creation_Page'}} item" href="{{ pathFor 'Project_Creation_Page' }}">
          <i class="edit icon"></i>Create Project
        </a>
      {{/unless}}

      <a class="{{ isActiveRoute 'Search'}} item" href="{{ pathFor 'Search' }}">
        <i class="search icon"></i>Search
      </a>

      <!-- TODO: these helpers have not yet been implemented -->
      {{#if isProjectAdmin}}
      {{/if}}

      {{/if}}

      <!-- the handlebar-if logic here keeps user-profile tab tight on the right when user logged in-->
      <!--Just in case it breaks-->
      <!--<a class="{{#unless currentUser}}right{{/unless}} item" href="{{pathFor 'Home_Page'}}">-->
      {{> Cas_Login }}
      <!--</a>-->
    </div>
  </div>
</template>
