<template name="Header">
  <!-- img class="ui fluid image" src="http://images.fineartamerica.com/images-medium-large-5/koolau-range-panorama-dan-mcmanus.jpg"
       style="max-height: 150px" -->

  <!-- side menu / TOC -->
  <div class="ui top inverted tabular menu"
       style="margin-top: 0px; margin-bottom: 0px; border-radius: 0px; color:white; background-color: #27AAE1">
    <div class="ui container">

      <a class="item" href="{{pathFor 'Home_Page'}}">
        <img class="ui fluid tiny image" src="/images/alloy-bare-wordmark.png">
      </a>

      {{#if currentUser}}

      <a class="{{ isActiveRoute 'User_Profile_Page'}} right item"
         href="{{ pathFor 'User_Profile_Page_2' _id=(getMyId) }}"><i class="user icon"></i>My Profile</a>

      <a class="{{ isActiveRoute 'Project_Creation_Page'}} item"
         href="{{ pathFor 'Project_Creation_Page' }}"><i class="edit icon"></i>Create Project</a>

      <!-- TODO: these should be behind clubAdmin and siteAdmin checks, respectively-->
      <!--<a class="{{ isActiveRoute 'Project_Admin_Page'}} item"
         href="{{ pathFor 'Project_Admin_Page' }}">Project Admin</a>-->
      <a class="{{ isActiveRoute 'Search_Page'}} item"
         href="{{ pathFor 'Search_Page' }}"><i class="search icon"></i>Search</a>
      <!-- TODO: these helpers have not yet been implemented -->
      {{#if isProjectAdmin}}
      {{/if}}

      {{#if isSiteAdmin}}
      {{/if}}

      {{/if}}

      <!-- the handlebar-if logic here keeps user-profile tab tight on the right when user logged in-->
      <a class="{{#unless currentUser}}right{{/unless}} item">
        {{> Cas_Login }}
      </a>
    </div>
  </div>
</template>
