<template name="Member_Dropdown">
  <div class="ui labeled icon top left pointing dropdown button">
    <i class="users icon"></i>
    <span class="member">Manage Members</span>
    <div class="menu">
      <div class="header">
        <div class="ui action input">
          <input type="text" placeholder="New Member">
          <button class="ui plus icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="header">
        <span class="text">Current Members</span>
      </div>
      {{#each member in projectMemberList _id}}
      <div class="member item">
        {{member}}
        {{#if admin member}}
        <div class="ui label">
          ADMIN
        </div>
        {{else}}
        <div type="button" class="ui icon admin button" id={{member}}>
          <i class="arrow up icon"></i>
        </div>
        {{/if}}
        <div type="button" class="ui right floated negative icon button" id={{member}}>
          <i class="remove icon"></i>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="ui basic invalid modal">
    <div class="header">
      Invalid Username
    </div>
    <div class="image content">
      <div class="image">
        <i class="red user icon"></i>
      </div>
      <div class="description">
        <p>The Username you've entered cannot be found. Please try again.</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui ok red basic button">
        <i class="checkmark icon"></i>
        OK
      </div>
    </div>
  </div>

  <div class="ui basic success modal">
    <div class="header">
      Success!
    </div>
    <div class="image content">
      <div class="image">
        <i class="green user icon"></i>
      </div>
      <div class="description">
        <p>You have successfully invited the user to join the project!</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui ok green basic inverted button">
        <i class="checkmark icon"></i>
        OK
      </div>
    </div>
  </div>

  <div class="ui basic existing modal">
    <div class="header">
      Invalid Username
    </div>
    <div class="image content">
      <div class="image">
        <i class="red user icon"></i>
      </div>
      <div class="description">
        <p>The Username you've entered is already a member of the project!</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui ok red basic inverted button">
        <i class="checkmark icon"></i>
        OK
      </div>
    </div>
  </div>
</template>