<template name="Member_Dropdown">
  <div class="ui labeled icon top right pointing dropdown button">
    <i class="users icon"></i>
    <span class="text">Manage Members</span>
    <div class="menu">
      <div class="header">
        <div class="ui action input">
          <input type="text" placeholder="New Member">
          <button class="ui icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="header">
        <span class="text">Current Members</span>
      </div>
      {{#each member in projectMemberList _id}}
      <div class="item">
          <div class="ui basic label">
            {{member}}
          </div>
          <div type="button" class="ui right floated negative icon button" id={{member}}>
            <i class="remove icon"></i>
          </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>