<template name="Suggested_Projects">

  <h1><img class="alloy-icon" src="/images/alloy-icon.png">
    {{#if currentUser}}
    Suggested Projects
    {{else}}
    Featured Projects
    {{/if}}
    <hr />
  </h1>

  <div class="ui stackable container">
    {{#if Template.subscriptionsReady}}
    <div class="ui raised three stackable cards">
      {{#if currentUser}}
      {{#if suggestedProjects.length}}
      {{#each project in suggestedProjects}}
        {{> Project_Card project = project }}
      {{/each}}

      {{else}}
      <div class="ui very padded centered grid stackable container">
        <div class="ui large raised segment">
          Update your profile to see suggested projects and get connected with your dream team!<br/><br/><br/>
          <a href="{{pathFor 'Edit_Profile_Page' _id=(getMyId)}}">
          <button class="ui large button"><i class="edit icon"></i>Edit Profile</button>
          </a>
        </div>
      </div>
      {{/if}}
      {{else}}
      {{#each project in projectsList}}
        {{> Project_Card project = project }}
      {{/each}}
      {{/if}}
    </div>
    {{/if}}
  </div>
</template>