<template name="Suggested_Projects">
  <div class="ui small cards">
    <div class="ui card">
      <div class="image">
        <!--Would probably require an each statement to go through all of the projects to be featured-->
        <!--TODO: add project image-->
        <img src="/images/alloy-wordmark.png">
      </div>
      <div class="content">
        <!--TODO: add project image-->
        <a class="header">Project Name</a>
        <!--TODO: add a created date-->
        <div class="meta">
          <span class="date">Created on 10/12/2016</span>
        </div>
        <!--TODO: add a description of the project-->
        <div class="description">
          Here is a short description of the project.
        </div>
      </div>
      <!--TODO: add skills relevant to that project-->
      <div class="extra content">
        <a>
          <div class="ui small label">
            Skill 1
          </div>
          <div class="ui small label">
            Skill 2
          </div>
        </a>
      </div>
    </div>
    <div class="ui card">
      <div class="image">
        <!--Would probably require an each statement to go through all of the projects to be featured-->
        <!--TODO: add project image-->
        <img src="/images/alloy-wordmark.png">
      </div>
      <div class="content">
        <!--TODO: add project image-->
        <a class="header">Project Name</a>
        <!--TODO: add a created date-->
        <div class="meta">
          <span class="date">Created on 10/12/2016</span>
        </div>
        <!--TODO: add a description of the project-->
        <div class="description">
          Here is a short description of the project.
        </div>
      </div>
      <!--TODO: add skills relevant to that project-->
      <div class="extra content">
        <a>
          <div class="ui small label">
            Skill 1
          </div>
          <div class="ui small label">
            Skill 2
          </div>
        </a>
      </div>
    </div>
  </div>
</template>