<template name="User_Card">
  <div class="ui card">
    <div class="image">
      <!-- user image-->
      <img src="/images/alloy-wordmark.png">
    </div>
    <div class="content">
      <!--TODO: add user image-->
      <div class="item" style="font-size: larger; text-transform: uppercase; font-weight: bold; margin-bottom: 2px;">
        <a class="header" href="{{ pathFor 'User_Profile_Page_2' _id=(user._id) }}">{{ user.username }}</a>
      </div>
      <div class="item">{{user.firstName}} {{user.lastName}}</div>
      <div class="extra content">
        <div class="item">
          {{#each skill in (user.skills)}}
          <div class="ui small label" style="margin: 3px;">
            {{ skill }}
          </div>
          {{/each}}
          <!--{{user.skills.length}}-->
        </div>
      </div>
      <div class="extra content">
        <div class="item">#projects: {{user.projects.length}}</div>
      </div>
    </div>
  </div>
</template>
