<template name="User_Card">
  <div class="ui card">
    <div class="image">
      <!-- user image-->
      <img src="/images/alloy-wordmark.png">
    </div>
    <div class="content">
      <!--TODO: add user image-->
      <div class="item" id="user-card-name">
        <a class="header" href="{{ pathFor 'User_Profile_Page_2' _id=(user._id) }}">{{ user.firstName }} {{ user.lastName }}</a>
      </div>
      <div class="item">{{user.username}}@hawaii.edu</div>
      <div class="extra content">
        <div class="item">
          <b>Skills:</b><br />
          {{#each skill in (user.skills)}}
          <div class="ui label skill-label">
            {{ skill }}
          </div>
          {{/each}}
          <!--{{user.skills.length}}-->
        </div>
      </div>
      <div class="extra content">
        <div class="item"><b>Number of Projects:</b> {{user.projects.length}}</div>
      </div>
    </div>
  </div>
</template>
