<template name="Welcome_Banner">
  <div class="ui fluid container"
       style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('http://www.nursing.hawaii.edu/sites/www.nursing.hawaii.edu/files/image/images/IMG_3763.jpg')">
    <div class="ui centered padded grid">
      <div class="row"><img class="ui image" style="height:130px; width:auto" src="/images/alloy-wordmark.png"/>
      </div>
      <div class="row" style="color: white"><h3>Build your Dream Team.</h3></div>
      <div class="row">
        <button class="ui large primary button">Sign Up</button>
        <button class="ui large button">Sign In</button>
      </div>
    </div>
  </div>
</template>